magnet_load.json
[
    {
        "id": "8e7b1a6d463de5a5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "71e3974a89f857b1",
        "type": "ui_led",
        "z": "8e7b1a6d463de5a5",
        "order": 11,
        "group": "7e492a35be12167f",
        "width": 10,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 570,
        "y": 400,
        "wires": []
    },
    {
        "id": "b35ebeb3d361e090",
        "type": "mqtt in",
        "z": "8e7b1a6d463de5a5",
        "name": "",
        "topic": "Magna/LampSta",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5a4273a1ca9bf9bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f2bdcf27af537c43",
        "type": "mqtt out",
        "z": "8e7b1a6d463de5a5",
        "name": "",
        "topic": "Magna/LampCmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5a4273a1ca9bf9bc",
        "x": 370,
        "y": 300,
        "wires": []
    },
    {
        "id": "6cd5544ec5d9c020",
        "type": "ui_button",
        "z": "8e7b1a6d463de5a5",
        "name": "",
        "group": "7e492a35be12167f",
        "order": 13,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "f2bdcf27af537c43"
            ]
        ]
    },
    {
        "id": "7c25e0fc230b1e61",
        "type": "ui_button",
        "z": "8e7b1a6d463de5a5",
        "name": "",
        "group": "7e492a35be12167f",
        "order": 12,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "f2bdcf27af537c43"
            ]
        ]
    },
    {
        "id": "dcc49ec0bf44c710",
        "type": "ui_text",
        "z": "8e7b1a6d463de5a5",
        "group": "7e492a35be12167f",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload + \"kg\"}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 560,
        "wires": []
    },
    {
        "id": "3539c7e83e79a45c",
        "type": "mqtt in",
        "z": "8e7b1a6d463de5a5",
        "name": "",
        "topic": "Load",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5a4273a1ca9bf9bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 560,
        "wires": [
            [
                "dcc49ec0bf44c710",
                "65c03a17eac4454a"
            ]
        ]
    },
    {
        "id": "65c03a17eac4454a",
        "type": "debug",
        "z": "8e7b1a6d463de5a5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 500,
        "wires": []
    },
    {
        "id": "1bc2e03536bf9d09",
        "type": "ui_spacer",
        "z": "8e7b1a6d463de5a5",
        "name": "spacer",
        "group": "7e492a35be12167f",
        "order": 10,
        "width": 10,
        "height": 1
    },
    {
        "id": "7e492a35be12167f",
        "type": "ui_group",
        "name": "Magnet1",
        "tab": "b54b8e5d4924aebe",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a4273a1ca9bf9bc",
        "type": "mqtt-broker",
        "name": "HIVEMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "clientId-f2ZSDMdLNA",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b54b8e5d4924aebe",
        "type": "ui_tab",
        "name": "Newmag",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]