node-red-client-side.json
[
    {
        "id": "e367c69d0a648e2d",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9ac64835.1ca948",
        "type": "ui_template",
        "z": "e367c69d0a648e2d",
        "group": "921d18b4552d16c0",
        "name": "Camera 1",
        "order": 1,
        "width": 12,
        "height": 9,
        "format": "<img alt=\"stream test\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 863.2569236755371,
        "y": 400.4166660308838,
        "wires": [
            []
        ]
    },
    {
        "id": "f3dc375f.005998",
        "type": "change",
        "z": "e367c69d0a648e2d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://172.20.10.4:5000/camera-1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 320,
        "wires": [
            [
                "ac461010.24496"
            ]
        ]
    },
    {
        "id": "e32d48eb.0b1358",
        "type": "change",
        "z": "e367c69d0a648e2d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pause",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "ac461010.24496"
            ]
        ]
    },
    {
        "id": "8d2e7e10.68e59",
        "type": "change",
        "z": "e367c69d0a648e2d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "resume",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 400,
        "wires": [
            [
                "ac461010.24496"
            ]
        ]
    },
    {
        "id": "b9d3d5af.e7d4f8",
        "type": "change",
        "z": "e367c69d0a648e2d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stop",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "ac461010.24496"
            ]
        ]
    },
    {
        "id": "50978a13e3f1250e",
        "type": "ui_template",
        "z": "e367c69d0a648e2d",
        "group": "e0583dd591296435",
        "name": "Camera 2",
        "order": 1,
        "width": 12,
        "height": 9,
        "format": "<img alt=\"stream test\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 863.2569236755371,
        "y": 600.4166660308838,
        "wires": [
            []
        ]
    },
    {
        "id": "845ec02bb13911ba",
        "type": "change",
        "z": "e367c69d0a648e2d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://172.20.10.4:5000/camera-2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "1b373778318f5c2d"
            ]
        ]
    },
    {
        "id": "876ed308ecabb863",
        "type": "change",
        "z": "e367c69d0a648e2d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pause",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 560,
        "wires": [
            [
                "1b373778318f5c2d"
            ]
        ]
    },
    {
        "id": "f3633fede82f71c9",
        "type": "change",
        "z": "e367c69d0a648e2d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "resume",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 600,
        "wires": [
            [
                "1b373778318f5c2d"
            ]
        ]
    },
    {
        "id": "8e07605773f1f223",
        "type": "change",
        "z": "e367c69d0a648e2d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stop",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 640,
        "wires": [
            [
                "1b373778318f5c2d"
            ]
        ]
    },
    {
        "id": "eb19800246974e18",
        "type": "ui_button",
        "z": "e367c69d0a648e2d",
        "name": "",
        "group": "921d18b4552d16c0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Stream",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "payload",
        "topicType": "msg",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "f3dc375f.005998"
            ]
        ]
    },
    {
        "id": "981e75d397b8fcd2",
        "type": "ui_button",
        "z": "e367c69d0a648e2d",
        "name": "",
        "group": "e0583dd591296435",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Stream",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "payload",
        "topicType": "msg",
        "x": 90,
        "y": 520,
        "wires": [
            [
                "845ec02bb13911ba"
            ]
        ]
    },
    {
        "id": "f1bc0d75446d1319",
        "type": "ui_button",
        "z": "e367c69d0a648e2d",
        "name": "",
        "group": "921d18b4552d16c0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pause Stream",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "e32d48eb.0b1358"
            ]
        ]
    },
    {
        "id": "a63be21b2913a0f7",
        "type": "ui_button",
        "z": "e367c69d0a648e2d",
        "name": "",
        "group": "921d18b4552d16c0",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Resume Stream",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 400,
        "wires": [
            [
                "8d2e7e10.68e59"
            ]
        ]
    },
    {
        "id": "f74a27203ac2b104",
        "type": "ui_button",
        "z": "e367c69d0a648e2d",
        "name": "",
        "group": "921d18b4552d16c0",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Stream",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "b9d3d5af.e7d4f8"
            ]
        ]
    },
    {
        "id": "c86876bae3822669",
        "type": "ui_button",
        "z": "e367c69d0a648e2d",
        "name": "",
        "group": "e0583dd591296435",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Stream",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "8e07605773f1f223"
            ]
        ]
    },
    {
        "id": "2f1cdbc089f92a3c",
        "type": "ui_button",
        "z": "e367c69d0a648e2d",
        "name": "",
        "group": "e0583dd591296435",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Resume Stream",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "f3633fede82f71c9"
            ]
        ]
    },
    {
        "id": "df0daf15015d0a05",
        "type": "ui_button",
        "z": "e367c69d0a648e2d",
        "name": "",
        "group": "e0583dd591296435",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pause Stream",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 560,
        "wires": [
            [
                "876ed308ecabb863"
            ]
        ]
    },
    {
        "id": "bcfdc528.e179f8",
        "type": "base64",
        "z": "e367c69d0a648e2d",
        "name": "Encode",
        "action": "",
        "property": "payload",
        "x": 720,
        "y": 400,
        "wires": [
            [
                "9ac64835.1ca948"
            ]
        ]
    },
    {
        "id": "e7ecd39ac005d44d",
        "type": "base64",
        "z": "e367c69d0a648e2d",
        "name": "Encode",
        "action": "",
        "property": "payload",
        "x": 720,
        "y": 600,
        "wires": [
            [
                "50978a13e3f1250e"
            ]
        ]
    },
    {
        "id": "ac461010.24496",
        "type": "multipart-decoder",
        "z": "e367c69d0a648e2d",
        "name": "Chamber 1",
        "ret": "bin",
        "url": "",
        "tls": "",
        "authentication": "none",
        "delay": "5",
        "maximum": "10000000",
        "blockSize": "1",
        "enableLog": "off",
        "x": 520,
        "y": 400,
        "wires": [
            [
                "bcfdc528.e179f8"
            ],
            []
        ]
    },
    {
        "id": "1b373778318f5c2d",
        "type": "multipart-decoder",
        "z": "e367c69d0a648e2d",
        "name": "Chamber 2",
        "ret": "bin",
        "url": "",
        "tls": "",
        "authentication": "none",
        "delay": "5",
        "maximum": "10000000",
        "blockSize": "1",
        "enableLog": "on",
        "x": 520,
        "y": 600,
        "wires": [
            [
                "e7ecd39ac005d44d"
            ],
            []
        ]
    },
    {
        "id": "969c7023df0fe2cd",
        "type": "ui_text",
        "z": "e367c69d0a648e2d",
        "group": "7e492a35be12167f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Parcel Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 820,
        "wires": []
    },
    {
        "id": "7d0958ce03cf7824",
        "type": "mqtt in",
        "z": "e367c69d0a648e2d",
        "name": "",
        "topic": "GuardianBox/sonic-1-status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "238b3ea36002b528",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 820,
        "wires": [
            [
                "388bed6efbdec278",
                "969c7023df0fe2cd"
            ]
        ]
    },
    {
        "id": "388bed6efbdec278",
        "type": "debug",
        "z": "e367c69d0a648e2d",
        "name": "debug ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 760,
        "wires": []
    },
    {
        "id": "a129cbed0e61f7ce",
        "type": "mqtt in",
        "z": "e367c69d0a648e2d",
        "name": "",
        "topic": "GuardianBox/magnet-1-status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "238b3ea36002b528",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 920,
        "wires": [
            [
                "9a0b3a1fc036444a"
            ]
        ]
    },
    {
        "id": "9a0b3a1fc036444a",
        "type": "ui_text",
        "z": "e367c69d0a648e2d",
        "group": "7e492a35be12167f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lock Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 920,
        "wires": []
    },
    {
        "id": "dbbaee1235e5a378",
        "type": "ui_text",
        "z": "e367c69d0a648e2d",
        "group": "70556f32ba87b37d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Parcel Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e2cffe5279022e05",
        "type": "mqtt in",
        "z": "e367c69d0a648e2d",
        "name": "",
        "topic": "GuardianBox/sonic-2-status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "238b3ea36002b528",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1040,
        "wires": [
            [
                "8577ba051ac183c0",
                "dbbaee1235e5a378"
            ]
        ]
    },
    {
        "id": "8577ba051ac183c0",
        "type": "debug",
        "z": "e367c69d0a648e2d",
        "name": "debug ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 980,
        "wires": []
    },
    {
        "id": "0218efe0397b4b25",
        "type": "mqtt in",
        "z": "e367c69d0a648e2d",
        "name": "",
        "topic": "GuardianBox/magnet-2-status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "238b3ea36002b528",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1140,
        "wires": [
            [
                "1be8f02b1ba62d37"
            ]
        ]
    },
    {
        "id": "1be8f02b1ba62d37",
        "type": "ui_text",
        "z": "e367c69d0a648e2d",
        "group": "70556f32ba87b37d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lock Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 1140,
        "wires": []
    },
    {
        "id": "eafb8928b2b40aef",
        "type": "ui_button",
        "z": "e367c69d0a648e2d",
        "name": "",
        "group": "7e492a35be12167f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Unlock Chamber",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 820,
        "wires": [
            [
                "51a4abc767be1c76"
            ]
        ]
    },
    {
        "id": "4e561f6cbeeb9f2c",
        "type": "ui_button",
        "z": "e367c69d0a648e2d",
        "name": "",
        "group": "70556f32ba87b37d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Unlock Chamber",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 1040,
        "wires": [
            [
                "efc6fcd0f7a43e57"
            ]
        ]
    },
    {
        "id": "51a4abc767be1c76",
        "type": "mqtt out",
        "z": "e367c69d0a648e2d",
        "name": "",
        "topic": "GuardianBox/magnet-1-unlock",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5a4273a1ca9bf9bc",
        "x": 1010,
        "y": 820,
        "wires": []
    },
    {
        "id": "efc6fcd0f7a43e57",
        "type": "mqtt out",
        "z": "e367c69d0a648e2d",
        "name": "",
        "topic": "GuardianBox/magnet-2-unlock",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5a4273a1ca9bf9bc",
        "x": 1010,
        "y": 1040,
        "wires": []
    },
    {
        "id": "0636d4453b1a7d22",
        "type": "mqtt in",
        "z": "e367c69d0a648e2d",
        "name": "",
        "topic": "GuardianBox/logs-database",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5a4273a1ca9bf9bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 1400,
        "wires": [
            [
                "01d60d8437d3446c"
            ]
        ]
    },
    {
        "id": "01d60d8437d3446c",
        "type": "split",
        "z": "e367c69d0a648e2d",
        "name": "",
        "splt": "$keys(msg.payload)",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 630,
        "y": 1400,
        "wires": [
            [
                "b6c5d9e6f5e8b134"
            ]
        ]
    },
    {
        "id": "b6c5d9e6f5e8b134",
        "type": "function",
        "z": "e367c69d0a648e2d",
        "name": "function 1",
        "func": "// Initialize an array to store combined JSON objects\nif (!flow.get('combinedArray')) {\n    flow.set('combinedArray', []);\n}\n\n// Add the incoming message payload (JSON object) to the array\nvar combinedArray = flow.get('combinedArray');\ncombinedArray.push(msg.payload);\nflow.set('combinedArray', combinedArray);\n\n// Send the combined array as the output\nreturn { payload: combinedArray };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1500,
        "wires": [
            [
                "2f7a9e788e177973",
                "53b0f87f30281f62"
            ]
        ]
    },
    {
        "id": "2f7a9e788e177973",
        "type": "ui_table",
        "z": "e367c69d0a648e2d",
        "group": "fb7d899f6ca0d30a",
        "name": "Database",
        "order": 2,
        "width": "0",
        "height": "0",
        "columns": [
            {
                "field": "id",
                "title": "ID",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "chamber_id",
                "title": "Chamber ID",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "time_open",
                "title": "Time Open",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "time_close",
                "title": "Time Close",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1000,
        "y": 1480,
        "wires": []
    },
    {
        "id": "53b0f87f30281f62",
        "type": "debug",
        "z": "e367c69d0a648e2d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1360,
        "wires": []
    },
    {
        "id": "921d18b4552d16c0",
        "type": "ui_group",
        "name": "Chamber 1",
        "tab": "91a363c042b4c70d",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0583dd591296435",
        "type": "ui_group",
        "name": "Chamber 2",
        "tab": "91a363c042b4c70d",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e492a35be12167f",
        "type": "ui_group",
        "name": "Chamber 1",
        "tab": "b54b8e5d4924aebe",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "238b3ea36002b528",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "70556f32ba87b37d",
        "type": "ui_group",
        "name": "Chamber 2",
        "tab": "b54b8e5d4924aebe",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a4273a1ca9bf9bc",
        "type": "mqtt-broker",
        "name": "HIVEMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fb7d899f6ca0d30a",
        "type": "ui_group",
        "name": "Chamber Status Log",
        "tab": "424dc4576f3b1fcc",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "91a363c042b4c70d",
        "type": "ui_tab",
        "name": "Camera Stream",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b54b8e5d4924aebe",
        "type": "ui_tab",
        "name": "Chamber Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "424dc4576f3b1fcc",
        "type": "ui_tab",
        "name": "Chamber Status Log",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]